{% extends "bootstrap/base.html" %}

{% block title %}User List{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">User List</h1>
    <table class="table table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.role.name if user.role else 'No Role Assigned' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

